* {
    margin: 0;
    font-family: Arial;
    border: border-box; 
}
.navbar {
    height: 60px;
    background-color: #11b18b;
    color: black;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}

.nav-logo1 { 
    height: 70px;
    width: 170px;
    align-items: center;
    justify-content: center;
}
.logo1{
    background-image: url(logo-removebg-preview.png);
    background-size: cover;
    height:50px ;
    width: 100%;
    margin-top: 8px;
    align-items: center;
    justify-content: center;
}

.border {
    border: 2px solid transparent;
}

.border :hover { 
    border: 2px solid white;
}

.add-first { 
    color: black;
    font-size: 0.5rem;
    margin-left: 15px;
}

.add-second {
    font-size: 1rem;
    margin-left: 3px;
    font-weight: 500;
}

.add-icon{
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.nav-search:hover{
    border: 2px solid orange;
}

.search-select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border: none;
}

.search-input{
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
}

span{
    font-size:0.7rem ;
}

 .nav-second{
    font-size: 0.85rem;
    font-weight: 700;
 }


.nav-cart i{
    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

.panel{
    height: 40px;
    background-color: #1f6858;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-ops p{
    display: inline;
    margin-left: 15px;
}

.panel-ops{
    width: 70%;
    font-size: 0.85rem;

}
.panel-deals{
    font-size: 0.9rem;
    font-weight: 700;
}

.apple {
    width: 1430px;
    height: 600px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    position: relative; /* Add position: relative to the container */
}

.apple-logo {
    /* Add styles for the Apple logo */
    width: 100px; /* Increase the width of the logo as needed */
    height: 80px; /* Increase the height of the logo as needed */
    background-image: url('app1.jpg'); /* Set the path to your Apple logo image */
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: 560px; /* Adjust the distance from the left side of the container */
    top: 7%; /* Center vertically within the container */
    transform: translate(0, -50%); /* Center the logo vertically */
}

.apple p {
    font-family: 'SF Pro Display', sans-serif; /* Specify a fallback font family */
    font-size: 48px;
    font-weight: 800;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    position: absolute; /* Position the paragraph absolutely within the container */
    top: 7%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Center the text both horizontally and vertically */
}

  
  .apple video {
    display: flex;
    align-items: center;
    justify-content: center;
    width:  1430px;
    height: 600px;
    object-fit: contain;
    margin-left: 35px;
    border-radius: 50px;
  }
  
  

.shop-section{
    display: flex;
    justify-content: space-around;
    background-color: white;
}

.box{
    
    height: 300px;
    width: 250px;
    background-color: #e2e7e6;
    padding: 20px 0px 15px;
    margin-top: 10px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}


/* Style for positioning the container */
.box-content {
    margin-left: 10px;
    position: relative; /* This is important for positioning children */
}

/* Style for positioning the love button */
.love-button {
    position: absolute;
    top: -30px; /* Adjusted to move the button up by 15px, considering the 20px top padding */
    right: 10px; /* Adjust this value as needed to position the button horizontally within the container */
    background-color: white; /* Background color for the circle */
    color: #007185; /* Color of the heart icon */
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    border: none;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Add a transition for a smooth fade-in effect */
}

/* Style for box hover effect */
.box:hover .love-button {
    opacity: 1; /* Show the love button when hovering over the box */
}



.shop-section1{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: white;
}
.boxR2{
    height: 300px;
    width: 250px;
    background-color: #e2e7e6;
    padding: 20px 0px 15px;
    margin-top: 35px;
    align-items: center;
    border-radius: 10px;
    border: 1px solid black;
    cursor: pointer;
}

.box-image{
    display: flex;
    align-content: center;
    justify-content: center;
    height: 170px;
    width: 143px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: auto;
    margin-right: auto;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
 
}

.boxR2-content {
    margin-left: 10px;
    position: relative; /* This is important for positioning children */
}

/* Style for positioning the love button */
.love-buttonR2 {
    position: absolute;
    top: -30px; /* Adjusted to move the button up by 15px, considering the 20px top padding */
    right: 10px; /* Adjust this value as needed to position the button horizontally within the container */
    background-color: white; /* Background color for the circle */
    color: #007185; /* Color of the heart icon */
    width: 40px; /* Adjust the size as needed */
    height: 40px;
    border: none;
    border-radius: 50%; /* Makes it a circle */
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.3s; /* Add a transition for a smooth fade-in effect */
}

/* Style for box hover effect */
.boxR2:hover .love-buttonR2 {
    opacity: 1; /* Show the love button when hovering over the box */
}

footer{
    margin-top: 30px;
}
.foot-panel1{
    background-color: #1f6858;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
    

}

.foot-panel2{
    display: flex;
    background-color: #11b18b;
    color: white;
    height: 300px;
    justify-content: space-evenly;
}

ul{
    margin-top: 20px;
}

ul a {
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #dddddd;
}

.foot-panel3{
    background-color: #1f6858;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{
    background-image: url(logo-removebg-preview.png);
    background-size: cover;
    height:60px ;
    width: 200px;
    align-items: center;
    justify-content: center;
}


.foot-panel4{
    background-color:#11b18b ;
    color: white;
    height: 75px;
}

.pages{
    font-size: 0.9rem;
    text-align: center;
    padding-top: 10px;
}

.copyright{
    padding-top: 5px;
    font-size: 0.9rem;
    text-align: center;
}